<% content_for :title, "Editing dragon" %>

<h1>Editing dragon</h1>

<%= render "form", dragon: @dragon %>

<br>

<div>
  <%= link_to "Show this dragon", @dragon %> |
  <%= link_to "Back to dragons", dragons_path %>
</div>
