<% content_for :title, "Editing dragon" %>

<h1>Editing dragon</h1>

<%= render "form", dragon: @dragon %>

<br>

<div>
  <%= link_to "Voir ce dragon", @dragon, class: "btn btn-outline-primary" %> |
  <%= link_to "Retour vers les dragons", dragons_path, class: "btn btn-outline-primary" %>
</div>
