<p style="color: green"><%= notice %></p>

<% content_for :title, "Dragons" %>

<h1>Dragons</h1>
<h2>Bienvenue dans notre codex des dragons.<br>
Parcourez notre application à la recherche de votre dragon préféré !</h2>

<html>
  <head>
    <style>
      body {
        margin: 10px 20px 0px 40px;
      }
    </style>
  </head>


<div id="dragons">
  <% @dragons.each do |dragon| %>
    <%= render dragon %>
    <p>
      <%= link_to "Show this dragon", dragon %>
    </p>
  <% end %>
</div>

<%= link_to "New dragon", new_dragon_path %>
