<% content_for :title, "Créer un nouveau dragon" %>

<h1>Nouveau dragon</h1>

<%= render "form", dragon: @dragon %>

<br>

<div>
  <%= link_to "Retour vers les dragons", dragons_path, class: "btn btn-outline-primary" %>
</div>
