<div id="<%= dom_id universe %>">
<br>
  <p>
    <strong>Nom:</strong>
    <%= universe.name %>
  </p>

  <p>
    <strong>Date de sortie:</strong>
    <%= universe.release_date %>
  </p>

  <p>
    <strong>Description :</strong>
    <%= universe.description_universe %>
  </p>

</div>
