<html>
  <head>
    <style>
      body {
        margin: 10px 20px 20px 50px;
      }
    </style>
  </head>
<% content_for :title, "Editing universe" %>

<h1>Modifier l'univers</h1>

<%= render "form", universe: @universe %>

<br>

<div>
  <%= link_to "Montrer l'univers", @universe, class: "btn btn-outline-primary" %> |
  <%= link_to "Retour vers les univers", universes_path, class: "btn btn-outline-primary" %>
</div>
