<p style="color: green"><%= notice %></p>

<% content_for :title, "Universes" %>

<h1>Universes</h1>

<html>
  <head>
    <style>
      body {
        margin: 10px 20px 20px 50px;
      }
    </style>
  </head>

<div id="universes">
  <% @universes.each do |universe| %>
    <%= render universe %>
    
    <p>
      <%= link_to "Voir les dragons", dragons_path %>
    </p>
  <% end %>
  
</div>
<br>

<%= link_to "New universe", new_universe_path %>
